<ion-header>

  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-item>
		<ion-label floating>Direccion de Correo </ion-label>
		<ion-input type = "text"[(ngModel)]="user.email"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label floating> Contraseña </ion-label>
		<ion-input type = "password"[(ngModel)]="user.password"></ion-input>
	</ion-item>
	
	<button ion-button (click)="login(user)">Login</button>
	<button ion-button color='light'(click)="register()">Registro</button>


</ion-content>
