<ion-header>

  <ion-navbar>
    <ion-title>sms</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  
  <ion-list>
      <ion-item *ngFor="let x of messages">
          <ion-avatar item-start>
              <button ion-button color="danger" round>{{x.address|firstCaps}}</button>
          </ion-avatar>
          <h2>{{x.address}}</h2>
          <p>{{x.body}}</p>
      </ion-item>
  </ion-list>
  <button ion-button (click)="irpagina()">Siguiente</button>
</ion-content>