<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Google Map
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="map"></div>  
</ion-content>
<script src="http://maps.google.com/maps/api/js?key=AIzaSyCFXNue1SmVFvCB9tO1FfQoFYZC6CRonqc"></script>