<ion-header>
  <ion-navbar>
    <ion-title>
      Agregar Camaras
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="irpagina()">Siguiente</button>
  <ion-list>
    <ion-card *ngFor="let item of contacts" [ngClass]="{'item-inactive': !item.contact.active }">

      <ion-card-header>
        <h1>{{ item.contact.name }}</h1>

      </ion-card-header>
    

      <ion-card-content>
        <p> {{ item.contact.name2 }}-{{ item.contact.name3 }}-{{ item.contact.name4 }}-{{ item.contact.birth | date:'dd/MM/yyyy' }} </p>
      </ion-card-content>

      <ion-row text-center>
        <ion-col>
          <button ion-button icon-left clear small (click)="editContact(item);">
            <ion-icon name="create"></ion-icon>
            <div>Editar</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small (click)="removeContact(item);">
            <ion-icon name="trash"></ion-icon>
            <div>Borrar</div>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addContact()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>