<ion-header>

  <ion-navbar>
    <ion-title>video</ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content padding>
  <button ion-button (click)="irpagina()">Siguiente</button>
      <iframe src="http://192.168.1.123:4545/hyvEFVSO6Y47kbsfK1WurSyrNZtNdX/mjpeg/6mD268eKmm/6VbE3HtuXC"></iframe>
  
  <!--button ion-button (click)="sendSMS()">Activar Deteccion</button-->   
  <ion-item> 
      <ion-label>Activar Deteccion</ion-label>
      <ion-toggle (ionChange)="sendSMS($event)"></ion-toggle>
  </ion-item>
  
</ion-content>